@font-face {
  font-family: "santos_dumont";
  src: url("santo___-webfont.woff") format("woff"),
    url("santo___-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "impact";
  src: url("Impact.woff") format("woff"), url("Impact.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("Montserrat-Regular.ttf") format("ttf");
}
